# Port configuration
PORT=5000

# Database Configuration (Defaults to SQLite for local development)
DATABASE_URL="file:./dev.db"

# JWT Secret for Auth Token signing
JWT_SECRET="parkease_super_secret_jwt_key_12345"

# Google Maps API Key (Optional: leafet maps is used as dynamic fallback if empty)
GOOGLE_MAPS_API_KEY=""

# Razorpay API Credentials (Optional: payment simulator is used if empty)
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""

# Gemini API Key (Optional: AI simulation/heuristics are used if empty)
AI_API_KEY=""
